<section>
  <button (click)="b1()">technos</button>
  <button (click)="b2()">mandeine</button>
  <button (click)="b3()">morman</button>
  <button (click)="b4()">casio</button>
  <button (click)="b5()">technos dourado</button>
  <button (click)="b6()">benyar</button>
  <button (click)="b7()">citizen</button>
  <button (click)="b8()">relógio prata</button>
  <button (click)="b9()">diferente</button>
  <button (click)="b10()" id="ultimo">restaurar</button>
  </section>

  <div class="base_tudo"> 
<div class="base_total" *ngIf="part01">
    <div class="base1">
        <img src="../../../assets/images/img1.png" alt="">
       
    </div> 
    <span class="material-symbols-outlined" (click)="curtir()"
    *ngIf="c1">
      done
        </span>
        <span class="material-symbols-outlined" id="marcado"
        (click)="curtir()"  *ngIf="c2">
          done
            </span>
</div>
<div class="base_total" *ngIf="part02">
  <div class="base1">
      <img src="../../../assets/images/img5.png" alt="">
     
  </div> 
  <span class="material-symbols-outlined" (click)="curtir2()"
  *ngIf="c3">
    done
      </span>
      <span class="material-symbols-outlined" id="marcado"
      (click)="curtir2()"  *ngIf="c4">
        done
          </span>
</div>
<div class="base_total" *ngIf="part03">
  <div class="base1">
      <img src="../../../assets/images/img2.png" alt="">
     
  </div> 
  <span class="material-symbols-outlined" (click)="curtir3()"
  *ngIf="c5">
    done
      </span>
      <span class="material-symbols-outlined" id="marcado"
      (click)="curtir3()"  *ngIf="c6">
        done
          </span>
</div>
<div class="base_total" *ngIf="part04">
<div class="base1">
    <img src="../../../assets/images/img3.png" alt="">
   
</div> 
<span class="material-symbols-outlined" (click)="curtir4()"
*ngIf="c7">
  done
    </span>
    <span class="material-symbols-outlined" id="marcado"
    (click)="curtir4()"  *ngIf="c8">
      done
        </span>
</div>
<div class="base_total" *ngIf="part05">
  <div class="base1">
      <img src="../../../assets/images/img4.png" alt="">
     
  </div> 
  <span class="material-symbols-outlined" (click)="curtir5()"
  *ngIf="c9">
    done
      </span>
      <span class="material-symbols-outlined" id="marcado"
      (click)="curtir5()"  *ngIf="c10">
        done
          </span>
  </div>

  <!--base 2-->
  <div class="base_total" *ngIf="part06">
    <div class="base1">
        <img src="../../../assets/images/img6.png" alt="">
       
    </div> 
    <span class="material-symbols-outlined" (click)="curtir6()"
    *ngIf="c11">
      done
        </span>
        <span class="material-symbols-outlined" id="marcado"
        (click)="curtir6()"  *ngIf="c12">
          done
            </span>
</div>
<div class="base_total" *ngIf="part07">
  <div class="base1">
      <img src="../../../assets/images/img7.png" alt="">
     
  </div> 
  <span class="material-symbols-outlined" (click)="curtir7()"
  *ngIf="c13">
    done
      </span>
      <span class="material-symbols-outlined" id="marcado"
      (click)="curtir7()"  *ngIf="c14">
        done
          </span>
</div>
<div class="base_total" *ngIf="part08">
  <div class="base1">
      <img src="../../../assets/images/img8.png" alt="">
     
  </div> 
  <span class="material-symbols-outlined" (click)="curtir8()"
  *ngIf="c15">
    done
      </span>
      <span class="material-symbols-outlined" id="marcado"
      (click)="curtir8()"  *ngIf="c16">
        done
          </span>
</div>
<div class="base_total" *ngIf="part09">
<div class="base1">
    <img src="../../../assets/images/img9.png" alt="">
   
</div> 
<span class="material-symbols-outlined" (click)="curtir9()"
*ngIf="c17">
  done
    </span>
    <span class="material-symbols-outlined" id="marcado"
    (click)="curtir9()"  *ngIf="c18">
      done
        </span>
</div>
<div class="base_total" *ngIf="part10">
  <div class="base1">
      <img src="../../../assets/images/img10.png" alt="">
     
  </div> 
  <span class="material-symbols-outlined" (click)="curtir10()"
  *ngIf="c19">
    done
      </span>
      <span class="material-symbols-outlined" id="marcado"
      (click)="curtir10()"  *ngIf="c20">
        done
          </span>
  </div>
</div>